[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipdb = "*"
ipython = "*"
flask-shell-ipython = "*"

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
mysqlclient = "*"
flask-migrate = "*"

[requires]
python_version = "3.7"
